$primary: #1890ff;
$success: #52c41a;
$error: #f5222d;
$background-base: #ffffff;
$heading: rgba(black, 0.85);
$text: rgba(black, 0.75);
$text-secondary: rgba(black, 0.5);
$disabled: rgba(black, 0.35);
$background: #ebeef3;
